*{
  box-sizing: border-box;
}

/* Logo Text */
h1{
  text-align: center;
}

ul{
  padding: 0;
  margin: 0 10px;
}

/* Header */
header{
  background-color: #85b1f7;
  padding-top: 5px;
  border-top: groove #6fa5fc 5px;
}

header h1{
  color: white;
}

nav {
  background-color: #000;
  padding-top: 2px;
  padding-bottom: 2px;
}

#nav-buttons {
  list-style-type: none;
  text-align: center;
  flex-flow: row;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 10px auto;
}

#nav-buttons li{
  flex-grow: 2;
  justify-content: space-between;
  margin: 0 0.5em;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #bbdce8;
  border: #cce6ff 3px solid;
  border-radius: 5px;
  font-weight: bold;
}

#nav-buttons a:link{
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
  color: #000;
  display: block;
}

#nav-buttons a:visited{
  color: #000;
}

/* Main */

#container{
  max-width: 50%;
  margin: 0 auto;
}

main img{
  max-width: 40%;
  padding: 5%;
  float: left;
}

/* Footer */

#developer-info{
  background-color: #000;
  list-style-type: none;
  text-align: center;
  clear: both;
}

#developer-info li{
  display: inline;
  padding: 0 2%;
}

#developer-info a:link{
  color: #FFF;
  text-decoration: none;
}

@media(max-width: 1024px){
  #container{
    max-width: 75%;
  }
}
